* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: linear-gradient(rgb(82, 178, 242), rgb(255, 255, 255));
}

.navBar {
  position: sticky;
  background-color: rgb(80, 0, 102);
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}
.navBar a {
  display: inline;
  color: white;
  float: left;
  display: block;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background 0.3s ease-in-out;
}

.navBar a:hover {
  background-color: rgb(111, 0, 142);
}
h1 {
  padding: 25px;
  color: White;
}
.container {
  display: flex;
  height: 50vh;
}
#leftHalf {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#rightHalf {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#examples h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 3em;
}

h2 {
  padding: 10px;
}

h3 {
  padding-bottom: 10px;
}

#leftHalf a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px; /* Rounded corners */
  background-color: rgb(129, 205, 255);
  color: white;
  text-decoration: none;

  font-weight: bold;
  transition: background 0.3s ease-in-out;
}
#leftHalf a:hover {
  background-color: rgb(63, 178, 255);
}
#rightHalf a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px; /* Rounded corners */
  background-color: rgb(129, 205, 255);
  color: white;
  text-decoration: none;

  font-weight: bold;
  transition: background 0.3s ease-in-out;
}
#rightHalf a:hover {
  background-color: rgb(63, 178, 255);
}
